:export {
  menuTextColor: $menuTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarMaxWidth: $sideBarMaxWidth;
  sideBarMinWidth: $sideBarMinWidth;
}
