.DS_Store
node_modules
/dist

.history
.idea
node_modules
.DS_Store
dist
dist-ssr
*.local
yarn*
pnpm*
enhance


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
