// 侧边菜单颜色
$menuTextColor: #bfcbd9;
$menuActiveTextColor: #409eff;

$theme: #409eff;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// 侧边菜单高度
$menuHeight: 50px;
// 分割线颜色
$borderSeparateColor: #f2f2f2;

// 侧边栏
$sideBarMaxWidth: 180px;
$sideBarMinWidth: 54px;

// 导航条
$navigatorLogoBarHeight: 40px;
$navigatorOperationBarHeight: 50px;

// 标签栏
$tagsBarHeight: 40px;;
